<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{teacherInfo.Nombre}} {{teacherInfo.Apellido}}</h5>
      <p class="card-text">Correo: {{teacherInfo.Correo_Electronico}}</p>
      <p class="card-text">Dirección: {{teacherInfo.Direccion}}</p>
      <p class="card-text">Teléfono: {{teacherInfo.Telefono_Contacto}}</p>
      <a [routerLink]="'/main/teacher-info/' + teacherInfo.id" class="btn btn-grey">Teacher details</a>
    </div>
  </div>
